.demo {
  /* for IE10+ touch devices */
  touch-action: none;
}

.custom {
  position: absolute;
  z-index: 5;
}

#canvas {
  z-index: 1;
}

.start {
  border-radius: 40px;
  text-align: center;
}

.end {
  border-radius: 40px;
  text-align: center;
}

.step {
  border-radius: 0.5em;
  width: 80px;
  height: 80px;
}

.diamond {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.desc-text {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.flowchart-demo .window {
  border: 1px solid #346789;
  box-shadow: 2px 2px 19px #aaa;
  -o-box-shadow: 2px 2px 19px #aaa;
  -webkit-box-shadow: 2px 2px 19px #aaa;
  -moz-box-shadow: 2px 2px 19px #aaa;
  -moz-border-radius: 0.5em;
  opacity: 0.8;
  width: 80px;
  height: 80px;
  line-height: 70px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  background-color: #eeeeef;
  color: black;
  font-family: helvetica, sans-serif;
  padding: 0.5em;
  font-size: 0.9em;
  -webkit-transition: -webkit-box-shadow 0.15s ease-in;
  -moz-transition: -moz-box-shadow 0.15s ease-in;
  -o-transition: -o-box-shadow 0.15s ease-in;
  transition: box-shadow 0.15s ease-in;
}

.flowchart-demo .window:hover {
  box-shadow: 2px 2px 19px #444;
  -o-box-shadow: 2px 2px 19px #444;
  -webkit-box-shadow: 2px 2px 19px #444;
  -moz-box-shadow: 2px 2px 19px #444;
  opacity: 0.6;
}

.flowchart-demo .active {
  border: 1px dotted green;
}

.flowchart-demo .hover {
  border: 1px dotted red;
}

#startEv {
  top: 2em;
  left: 3em;
}

#stepEv {
  top: 10em;
  left: 3em;
}

#descEv {
  top: 20em;
  left: 3em;
}

#endEv {
  top: 30em;
  left: 3em;
}

.flowchart-demo .jsplumb-connector {
  z-index: 4;
}

.flowchart-demo .jsplumb-endpoint,
.endpointTargetLabel,
.endpointSourceLabel {
  z-index: 21;
  cursor: pointer;
}

.aLabel {
  background-color: white;
  padding: 0.4em;
  font: 12px sans-serif;
  color: #444;
  z-index: 21;
  border: 1px dotted gray;
  opacity: 0.8;
  cursor: pointer;
}

.aLabel.jsplumb-hover {
  background-color: #5c96bc;
  color: white;
  border: 1px solid white;
}

.window.jsplumb-connected {
  border: 2px solid green;
}

.window.jsplumb-connected-step {
  border: 2px solid #29e;
}

.window.jsplumb-connected-end {
  border: 2px solid orangered;
}

.jsplumb-drag {
  outline: 4px solid pink !important;
}

path,
.jsplumb-endpoint {
  cursor: pointer;
}

.jsplumb-overlay {
  background-color: transparent;
}

#fcJson {
  width: 50%;
  margin-left: 100px;
}
